*{
	padding:0;
	margin:0;
	list-style: none;
}

html,
body {font-family: "Microsoft Yahei", Tahoma, Helvetica, Arial, sans-serif;
}

ul, ol { padding: 0;}


a:link,
a:visited {
	color:#FFF;
	text-decoration:none;
}
a.back:link,
a.back:visited,
a.twitter:link,
a.twitter:visited {
	font-size:1.3em;
	line-height:4em;
	position:absolute;
	left:40px;
	bottom:25px;
}

.pos_f{position:fixed;}
.fl_l{float:left;display:inline-block;}
.fl_r{float:right;display:inline-block;}
.clear{clear:both;height:0;}
.ta_c{text-align: center;}
.fz_12{font-size:12px;}
.fz_24{font-size:24px;}
.mt_20{margin-top:20px;}

#b03 { width: 100%;}
#b03 .dots li
{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

#b03 .dots li.active {background: #fff;  opacity: 1;  }


h2{text-align: center;}

.tabs_bg{height: 138px;background: url(../images/tabs_bg.jpg);text-align: center;}
.tabs_main a{display: inline-block;width: 275px;text-align: center;font-size: 18px;color: #fff;margin-top: 25px;position: relative;float: left;height: 113px;}
.tabs_main{width: 1100px;margin: 0 auto;}
.tabs_main a.on{color: #ff5a5a;}

.tabs_main a.on .icos{background-position: 0 -50px;}
.tabs_main a.on b{width: 0;height: 0; border-right: 12px solid transparent;border-bottom: 12px solid #fff;border-left: 12px solid transparent;position: absolute;bottom: 0;left: 125px;}
.tab_info{margin: 0 auto;}
.tab_info p{color: #2c0027;font-size: 20px;}
.tab_info1{background: url(../images/tab1.jpg) right 0 no-repeat;width: 507px;height: 263px;padding: 20px 450px 0 0;min-height: 314px;margin-top: 10%;}
.tab_info1 p{line-height: 48px;padding-top: 50px;}
.tab_info2{background: url(../images/tab2.jpg) right 50px no-repeat;width: 290px;padding: 0 650px 0 0 ;line-height: 65px;margin-top: 10%;}
.tab_info3{background: url(../images/tab3.jpg) right 55px no-repeat;width: 465px;padding-right: 540px;line-height: 55px;margin-top: 10%;}
.tab_info4{background: url(../images/tab4.jpg) right 50px no-repeat;width: 350px;line-height: 65px;padding-right: 600px;margin-top: 10%;}
.red_btn{width: 172px;line-height: 60px;height: 60px;color: #fff;background: #ff5a5a;font-size: 24px;text-align: center;display: inline-block;margin-top: 20px;}
#content{min-width: 1100px;}
.footer{height: 490px;background: #4e4e4e;}
.footer_main{width: 1200px;margin: 0 auto;}
.about_us ul{width: 33%;text-align: center;float: left;font-size: 14px;color: #d6d6d6;line-height: 35px;}
.about_us ul h4{color: #d6d6d6;font-size: 18px;font-weight: normal;padding: 50px 0 10px;}
.clear{clear: both;height: 0;}
.tel{font-size: 30px;font-weight: bold;color: #fff;text-align: center;border-top: 1px solid #626262;line-height: 90px;border-bottom: 1px solid #626262;margin-top: 70px;}
.mess{color: #c0c0c0;font-size: 12px;text-align: center;line-height: 30px;    position: absolute;
	bottom: 10px;
	width: 100%;}
.five_main{width:1000px;margin:0 auto ;color:#fff;padding-top:20%;}
.five_main h2{font-size:30px;font-weight:bold;text-align:left;}
.five_main p{font-size:16px;}
.mt_30{margin-top:30px;}
@media screen and (min-width: 1200px){
	.two img{width: 50%;}
}
@media screen and (max-width: 1199px){
	.two img{width:60%;}
}
/*简单reset*/
* {
	margin: 0;
	padding: 0;
}
/*必须，关系到单个page能否全屏显示*/

#container,
.sections,
.section {
	/*必须，兼容，在浏览器不支持transform属性时，通过改变top/left完成滑动动画*/
	background: #fff;
	position: relative;
	/*必须，关系到单个page能否全屏显示*/
	height: 100%;
}
.section {
	/*有背景图时必须，关系到背景图能够全屏显示*/

	background-size: cover;
	background-position: 50% 50%;
}

/*以下样式用来设置slider样式，可自行修改*/
.pages {
	position:fixed;
	right: 10px;
	top: 50%;
	list-style: none;
}
.pages li {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #ccc;
	margin: 15px 0 0 7px;
}
.pages li.active {
	background: #7db601;
}

.btns{
	position: fixed;
	right: 10px;}
.btns1{bottom:170px;}
.btns2{bottom:100px;}
.btns a{
	display:block;
	width: 60px;
	height:60px;
	text-align: center;border-radius:1px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	margin-top: 10px;
	font-size: 14px;}
.btns a:hover{
	background: #e66d0c;}
.btns span{display:block;}
.btns img{margin-top:10px;}
.pos_r{position:relative;}
.pos_a{position:absolute;}
.fz_18{font-size:18px}
.fz_16{font-size:16px}
.ser_main{width:181px;height:70px;padding-top:15px;line-height:28px;background:#999;border-radius:2px;right:70px;bottom:0;display:none;}
.header{height:130px;top:0;left:0;z-index:10;width:100%;background:#fff;}
.header_main{line-height:90px;}
.header a{color:#000;font-size:16px;}
.head_lead_bg{background: #fafafa;height: 40px;line-height: 40px;font-size: 12px;}
.head_lead_bg a{font-size: 12px;color: #666;}
.head_lead_bg b{font-weight: normal;}
.head_lead_bg a,.head_lead_bg b{margin-left: 20px;}
.head_lead_bg a.on{color: #7db601;}
.header_main img{vertical-align: middle;}
.nav li{display:inline-block;float:left;width:128px;}
.header_main,.head_lead{width:1200px;margin:0 auto;}
.header_main input{width: 264px;height: 20px;padding: 6px 10px;border: 1px solid #ccc;margin-top: 28px;}
.header_main .fl_r a,.header_main .fl_r input{float: right;}
.header_main .fl_r a{display: inline-block;border: 1px solid #ccc;border-left: 0;height: 32px;padding: 0 20px;line-height: 32px;margin-top: 28px;}
.ml_10{margin-left: 10px;}

.nav li a{display:block;text-align:center;}
.nav{margin-left:60px;}
.nav a:hover,.nav a.on{color: #7db601;font-weight: bold;}

.aboutus_main{width:1160px;margin:20px auto;background:#fff;padding:30px 20px;}
.aboutus_main h2{font-size:18px;color:#333;text-align:left;padding-left:10px;font-weight:normal;border-left:6px solid #e66d0c;line-height:20px;margin-bottom:10px;}
.aboutus_main h2 span{color:#999;margin-left:10px;}
.mt_30{margin-top:30px;}
.aboutus_main p,.aboutus_main li{color:#666;line-height:24px;}
.aboutus_main p{font-size:14px;}
.aboutus_main li{font-size:16px;margin:10px 0;}
.aboutus_main p.aboutus_title{font-size:24px;color:#666;font-weight:bold;margin:15px 0;}
.aboutus_main li p{font-size:16px;}


/**/
.part1_list li{float: left;display: inline-block;width: 200px;box-shadow: 0 0 8px #ddd;text-align: center;padding: 20px 0;margin: 20px;}
.part1_list{margin: 0 auto ;width: 1200px;}
.part1_list li .fz_20{font-size: 30px;color: #333;}
.part1_list li .fz_14{font-size: 14px;color: #999;}
.part1_list li p{margin-top: 10px;}
.part1_list li img{margin-top: 20px;}
.banner{background: url(../images/banner.png) center top no-repeat;background-size: 100%}
.banner1{background: url(../images/banner01.png) center top no-repeat;background-size: 100%}
.banner2{background: url(../images/banner02.png) center top no-repeat;background-size: 100%}
.banner3{background: url(../images/banner03.png) center top no-repeat;background-size: 100%}
#section1 img{max-height: 80%;}
#section1{text-align: center;}
#section2 h2{font-size: 35px;font-weight: normal;padding-top: 20px;color: #666;font-family: '幼圆';white-space: 5px}
#section2 p.fz_14{font-size: 18px;margin: 20px 0;color: #999;}
#section2 .list_box{width: 600px;padding-left: 600px;margin: 30px auto 0;position: relative;}
#section2 ul h4{font-size: 18px;font-weight: normal;margin-bottom: 10px;}
#section2 ul p{font-size: 14px;color: #999;padding-left: 44px;}
#section2 li{margin-bottom: 20px;padding-left: 30px;cursor: pointer;}
#section2 li span{display: inline-block;width: 14px;text-align: center;margin-right: 30px;}
#section2 li b{display: inline-block;width: 10px;height: 10px;border-radius: 10px;background: #7db601;}
#section2 li.on b{width: 14px;height:14px;border-radius: 14px;}
.line_green{    position: absolute;height: 284px;width: 2px;background: #7db601;top: 9px;left: 636px;}
.foot_box{background: #283444;}
.foot_write{height: 40px;background: #202d3d;color: #6a798a;font-size: 12px;line-height: 40px;width: 100%;}
.foot_main{width: 1200px;margin: 0 auto;padding: 10px 0;}
#section2 .foot_main p.fz_14{color: #fff;margin-bottom: 15px;font-size: 16px;}
.foot_main a,.contact_us p{display: block;font-size: 12px;line-height: 24px;color: #7f8fa0;}
.about_us,.help_list{width: 165px;}
.ewm_box img{width: 115px;height: 115px;background: #fff;}
.ewm_box span{display: inline-block;float: left;margin-top: 20px;text-align: center;padding: 5px;background: #fff;border-radius: 2px;border: 1px solid #ccc;}
.ewm_box{margin-left: 50px;color: #7f8fa0;line-height: 28px;text-align: center;}
.ewm_box p{}
#section2 .foot_main .contact_us p.fz_14{font-size: 20px;}
.foot_box{bottom:130px;width: 100%;}
.list_box{background: url(../images/list_box1.png) 30px 0 no-repeat;}
.transform_font{display: inline-block;}
@keyframes rotate_360{from{transform:rotateX(0)}
	to{transform:rotateX(360deg)}
}
.login_box{width: 1000px;height: 560px;margin: 30px auto 0;box-shadow: 0 0 15px #eee;border-radius: 6px}
.login_left{width: 476px;}
.login_right{padding: 40px 80px;width: 364px;}
.login_tabs{margin: 30px 0 40px 0;}
.login_right h2{font-size: 32px;margin: 20px 0;}
.login_tabs a{color: #37424d;}
.login_tabs a.on{color: #7db601;font-weight: bold;}
.login_tabs b{font-weight: normal;color: #ccc;margin: 0 30px;}
.ml_40{margin-left: 40px;}
.login_main span{font-size: 14px;color: #666;line-height: 40px;}
.login_main p{border-bottom: 1px solid #c8cdd1;margin-top: 30px;}
.login_main input{border: none;line-height: 40px;margin-left: 10px;width: 310px;outline:none;font-size: 14px;}
.login_main{margin-top: 30px;}
.login_btn{display: block;background: #7db601;color: #fff;text-align: center;font-size: 12px;border-radius: 3px;margin: 40px 0 20px 0;line-height: 40px;}
.c_green{color: #7db601;}
.fz_14{font-size: 14px;}

.transform_font{display: none;}


/*货源市场*/

.w_1200{width: 1200px;}
.m_0_auto{margin: 0 auto;}
.c_333{color: #333;}
.c_666{color: #666;}
.c_999{color: #999;}

.banner_market img{width: 100%;}
.market_part1{margin: 80px auto;height: 176px;}
.mr_39{margin-right: 39px;}
.market_part1 div{float: left;display: inline-block;width: 374px;background: #fff;box-shadow: 0 0 10px #f8f8f8;text-align: center;padding: 40px 0;position: relative;}
.market_part1 div img{position: absolute;right: 10px;top: 5px;}
.market_part1 div h2{font-size: 40px;margin-bottom:25px;}
.market_part1 .c_1 h2{color: #4e82e1;}
.market_part1 .c_2 h2{color: #3cacdf;}
.market_part1 .c_3 h2{color: #f8931f;}
.market_part1 .c_1 b,.market_part3_list .c_1{background: #4e82e1;}
.market_part1 .c_2 b,.market_part3_list .c_2{background: #3cacdf;}
.market_part1 .c_3 b{background: #f8931f;}
.market_part1 div b,.market_part3_list h3 b{display: inline-block;width: 8px;height: 8px;border-radius: 8px;margin-right: 10px;}

.market_part2_bg{background: #fafafa;overflow: hidden;padding: 60px 0;}
.market_part2{margin: 0 auto;text-align: left;}
.market_part2 li{display: inline-block;float: left;width: 300px;overflow: hidden;}
.market_part2 span{width: 64px;height: 42px;border-radius: 3px;box-shadow: 0 0 5px #eee;font-size: 15px;text-align: center;line-height: 42px;margin-right: 10px;background: #fff;font-weight: bold;vertical-align: middle;}
.market_part2 .c_1{color: #f68823;}
.market_part2 .c_2{color: #1687f6;}
.market_part2 .c_3{color: #18c138;}
.market_part2 .c_4{color: #ee5564;}
.market_part2 h2{font-size: 14px;color: #666;text-align: left;}
.market_part2 p{font-size: 13px;color: #999;margin-top: 5px;}

.market_part3,.market_part4{margin-top: 60px;}
.table_scroll{height: 300px;overflow: hidden;position: relative;}
.table_scroll table{position: absolute;left: 0;top: 0;}
.market_part3 table{width: 100%;}
.market_part3 tr{height: 50px;}
.market_part3 th{height: 45px;background: #fafafa;}
.market_part3 th,.table_scroll td{padding-left: 25px;text-align: left;}
.market_part3_list{width: 586px;}
.market_part3_table{border: 1px solid #e8e8e8;border-radius:3px;}
.mr_28{margin-right: 28px;}
.market_part3_list h3{font-size:18px;margin-bottom: 30px;}

.layui-tab-title li{font-size: 16px;}
.layui-tab-title{border-bottom: none;}
.layui-tab-brief>.layui-tab-title .layui-this{color: #7db601;}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{border-bottom: 2px solid #7db601;}
.layui-table-view{border: none;}
.layui-table-page{border: none;text-align: right;}
.layui-table-page .layui-laypage a, .layui-table-page .layui-laypage span{color: #666;}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{border: none;}
.layui-table-view .layui-table tr{height: 50px;}
.layui-table-header{border: none;}
.layui-table-box{border: 1px solid #e8e8e8;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color: #7db601;}
.layui-table-page{margin-top: 20px;}
a.info_btn{display: inline-block;width: 46px;height: 24px;text-align: center;line-height: 24px;border: 1px solid #d9d9d9;border-radius: 2px;font-size: 12px;background: #fcfcfc;color: #666;}
.layui-table-view .layui-table{width: 100%;}
.show_app p{margin-top: 10px;}
.show_app img{margin-top: 30px;}
.sec_tabs{width: 150px;background: #fff;top:90px;left: 0;z-index: 3;box-shadow: 0 3px 3px #ccc;padding: 10px 0;display: none;}
.sec_tabs a{display: block;line-height: 40px;text-align: center;height: 40px;font-size: 14px;color: #666;}
.sec_tabs a:hover{color: #7db601;background: #f0f5e5;}

.service_agreement p,.service_agreement h5,.service_agreement li{color: #666;font-size: 14px;line-height: 28px;margin-bottom: 20px;font-weight: normal;}
.service_agreement h4{color: #333;font-weight: normal;margin: 30px 0 10px;}
.service_agreement{padding: 30px 50px;}
.service_agreement li{padding-left: 20px;}

/*注册*/
.sign_in{padding: 30px;}
.sign_in h2{font-size: 30px;color: #333;margin-bottom: 30px;}
.sign_in ul{width: 550px;margin: 0 auto;}
.sign_in li div{width: 430px;display: inline-block;float: left;}
.sign_in li span{display: inline-block;width: 100px;text-align: right;margin-right: 20px;font-size: 12px;color: #666;float: left;line-height: 38px;}
.sign_in li{margin-top: 20px;overflow: hidden;}
.sign_in li a{float: left;line-height: 38px;color: #f8931f;}
.sign_in li a:hover{text-decoration: underline;}
.ml_20{margin-left: 20px;}
.sign_in li input{outline:#f8931f; }
.people_type{margin-left: 300px;}
.people_type input{margin-right: 10px;}
.people_type label{margin-right: 90px;}
.sign_in a.btn{width: 200px;height: 40px;line-height: 40px;display: inline-block;background: #f8931f;border-radius: 2px;text-align: center;}
.sign_in a.btn:hover{color: #fff;}
.read_warn{margin-left: 250px;color: #666;margin-top: 10px;}
.read_warn a{color: #f8931f;}
.read_warn a:hover{color: #f8931f;text-decoration: underline;}
.read_warn input{margin-right: 10px;}